
@page
@using Datalager.Models;
@model IndexModel
@{
    ViewData["Title"] = "Redigera";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Förnamn"></label>
                <input asp-for="Input.Förnamn" class="form-control" />
                <span asp-validation-for="Input.Förnamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Efternamn"></label>
                <input asp-for="Input.Efternamn" class="form-control" />
                <span asp-validation-for="Input.Efternamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Födelsedatum"></label>
                <input asp-for="Input.Födelsedatum" class="form-control" />
                <span asp-validation-for="Input.Födelsedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BildNamn"></label>
                <input asp-for="Input.BildNamn" class="form-control" />
                <span asp-validation-for="Input.BildNamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Visas"></label>
                <input asp-for="Input.Visas" class="form-control" />
                <span asp-validation-for="Input.Visas" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Spara ändringar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}