@model IEnumerable<Datalager.Models.Registrerad>
@using Datalager.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<Registrerad> _userManager

<link rel="stylesheet" href="~/css/Start.css" />
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">

    @{
        ViewData["Title"] = "Vänsida";
    }

    <h1>Mina vänner</h1>

    <h4>Mina vänner</h4>

    @foreach (Registrerad anvandare in Model)
    {
        <div class="flex">
            <div class="exempelperson">
                <img class="profilbild" src="@anvandare.BildNamn" alt="Bild saknas" />
                <a href="/Profil/@anvandare.Id" class="Profil">@anvandare.Förnamn  @anvandare.Efternamn</a>
                <div class="col-md-2">
                    <input type="button" class="btn btn-primary pull-right" id="taBortVän" value="Ta bort vän" onclick="location.href='@Url.Action("TaBortVän", "Vänner", new { id = anvandare.Id})'" />
                </div>
            </div>
        </div>
    }

    <div>
        <a href="/Home/Index"> Tillbaka till startsidan </a>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }