@model WebApplication3.Models.Registrerad

@{
    ViewData["Title"] = "Registrera";
}

<h1>Registrera</h1>

<h4>Registrerad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrera">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Förnamn" class="control-label"></label>
                <input asp-for="Förnamn" class="form-control" />
                <span asp-validation-for="Förnamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Efternamn" class="control-label"></label>
                <input asp-for="Efternamn" class="form-control" />
                <span asp-validation-for="Efternamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Födelsedatum" class="control-label"></label>
                <input asp-for="Födelsedatum" class="form-control" />
                <span asp-validation-for="Födelsedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrera dig" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till startsidan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
