@using Microsoft.AspNetCore.Identity
@using Datalager.Models;
@inject SignInManager<Registrerad> SignInManager
@inject UserManager<Registrerad> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dejtingsajt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Startsida</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profil" asp-action="Index">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrera dig</a> //Vet inte om vi behöver ha registrera som en knapp när det finns en länk på loginsidan
        </li>*@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form class="form-inline" asp-controller="Home" asp-action="Sök" method="get">
                                <input type="text" name="Sok" placeholder="Sök efter användare.." required>
                                <input class="sök" type="submit" value="Sök" />
                            </form>
                        }
                    </ul>
                </div>
        </nav>
        <ul class="navbar-nav">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hej @User.Identity.Name!</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logga ut</button>
                    </form>
                </li>

                <a class="nav-link" asp-controller="Vänner" asp-action="Vänförfrågningar">
                    <span id="vänförfrågningar" class="badge badge-pill badge-info">Du har inga nya vänförfrågningar</span>
                </a>
            }
            else
            {

            }
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<div class="footer" style="margin-top:20px ">
            <footer class="container" style="background-color: lightblue; padding:40px">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="h3" style="color: white">Om oss</div>
                        <div style="color: white">
                            En säker webbplats för dig som letar efter kärleken.
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3" style="margin-right: 4px">
                        <div class="h3" style="color: white">Länkar</div>
                        <div>
                            <a href="" style="color: white">Startsida</a> <br>
                            <a href="" style="color: white">Registrera</a> <br>
                            <a href="" style="color: white">Min profil</a> <br>
                        </div>
                    </div>
                </div>
            </footer>
        </div>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @if (SignInManager.IsSignedIn(User))
    {
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "/api/api/räknaVänförfrågningar",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (räknaVänförfrågningar) {
                        if (räknaVänförfrågningar > 0) {
                            $('#vänförfrågningar').text('Du har ' + räknaVänförfrågningar + ' vänförfrågningar');
                        }
                    },
                    error: function () {
                        alert('Något gick fel');
                    }
                });
            });
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
