@model IEnumerable<Datalager.Models.Registrerad>
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using Datalager.Models;
@using Dejtingsida.Models;
@using Datalager;
@inject UserManager<Registrerad> _userManager
<link rel="stylesheet" href="~/css/Start.css" />
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Letar du efter ditt livs kärlek? Här är några personer som kanske intresserar dig</p>
</div>

@try
{
    <!-- Ifall inga användare hittas skriv ut felmeddelande-->
    @if (Model != null)

        @for (int index = 0; (index < _userManager.Users.Count() && index < 5); index++)
        {
            var registrerad = _userManager.Users.ToList()[index];
            <div class="flex">
                    <div class="exempelperson">
                        <img class="profilbild" src="@registrerad.BildNamn" alt="Bild saknas" />
                        <a href="/Profil/@registrerad.Id" class="Profil">@registrerad.Förnamn  @registrerad.Efternamn</a>
                    </div>
                </div>
           
        }
        else
        {
            <div class="container">
                <div class="row" style="margin-top: 2em;">
                    <div class="col-12">
                        <h3 style="text-align:center;">Testa null</h3>
                    </div>
                </div>
            </div>
        }
}
catch (Exception)
{
    <div class="container">
        <div class="row" style="margin-top: 2em;">
            <div class="col-12">
                <h3 style="text-align:center;">Vänligen fyll i något att söka på</h3> <!-- Skriv ut felmeddelande ifall du söker på tomt-->
            </div>
        </div>
    </div>
}
