@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Start.css" />
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Letar du efter ditt livs kärlek? Här är några personer som kanske intreserar dig</p>
</div>
<div class="flex">
    <div class="exempelperson">
        <img class="profilbild" scr="bild" alt="Bild saknas" />
        <p class="Namn"> Namn </p>
    </div>
    <div class="exempelperson">
        <img class="profilbild" scr="bild" alt="Bild saknas" />
        <p class="Namn"> Namn </p>
    </div>
    <div class="exempelperson">
        <img class="profilbild" scr="bild" alt="Bild saknas" />
        <p class="Namn"> Namn </p>
    </div>
</div>
