@model Datalager.Models.Registrerad

@{
    ViewData["Title"] = "Profil";
}
<h1>
    Min Profil
</h1>
<div class="rubrikProfil"> 
    <img class="profilbild" scr="bild" alt="Profilbild saknas" />
    <p>Förnamn Efternamn, ålder</p>
    </div>
<button class="redigera" onclick= "location.href='@Url.Action("Redigera", "Home")'"> Redigera profil</button>
