body {
    background-repeat: no-repeat;
    background-image: linear-gradient(lightgray, lightpink);
}
.navbar-nav{
    padding-left: 20px;
}
.nav-item
{
}
.btn btn-primary btn-sm-app{
    color: darkgreen;
}
.btn btn-primary btn-sm-dec {
    color: darkred;
}
div.exempelperson {
    background-color: lightpink;
    border-style: dashed;
    border-color: white;
    border-radius: 10px;
    flex: 30%;
    margin-right: 5px;
    margin-top: 5px;
}
div.flex {
    display: flex;
    flex-direction: row;
}
a.Profil {
    color: black;
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    float: left;
}
h1.display-4 {
    font-family: 'Lobster Two', cursive;
}
div.beskrivning {
   background-color: lightblue;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    border: 2px dashed white;
}
div.vägg {
    width: 90%;
    height: auto;
    background-color: lightgray;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
}
div.inlägg {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 95%;
    height:auto;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    flex: auto;
}
h1 {
    text-align: left;
    margin-left: 5px;
}
h4 {
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
}
div.nyttInlägg {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
button.publicera {
    width: 20%;
    font-family: 'Lobster Two', cursive;
    flex: auto;
}
textarea.inlägg {
    width:50%;
    height: 6em;
    margin-bottom: 8px;
    text-align:left;
}
input.namn {
    width:50%;
    height: auto;
    margin-bottom: 8px;

}
h4.inlägg {
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
input[type=text] {
    width: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;

}
.profilbild {
    object-fit: cover;
    width: 90px;
    height: 90px;
    max-width: 90px;
    min-width: 90px;
    max-height: 90px;
    min-height: 90px;
    border-radius: 20%;
    float: right;
}

.profil {
    object-fit: cover;
    width: 150px;
    height: 150px;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
}
